@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 0 0 0 1rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: #f25438;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #ffffff;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    place-items: self-start;
  }

  #app {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}
